.sidebar {
    background-color: hsl(247, 23%, 21%);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    width: 230px;
    z-index: 1;
    position: fixed;
}

.logo {
    margin-top: 20px;
    color: white;
}
.nav_links {
    display: flex;
    flex-direction: column;
    height: 65vh;
    width: 200px;
    justify-content: space-around;
}


.nav_link {
    height: 6vh;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
    gap: 1.2vw;
    border-radius: 10px;
    transition: background-color .3s;
    color: white;
}
svg {
    width: 23px;
    height: 23px;
}

.link_name {
    font-size: 17px;
}
.nav_link:hover {
    background-color: #393651;
    color: hsl(43, 100%, 68%);
}

.copyright {
    color: rgb(139, 139, 139);
    font-size: 11px;
    font-weight: 200;
    margin-bottom: 10px;
}

@media screen and (max-width: 990px) {
    .sidebar {
        width: 100vw;
        height: 50px;
        bottom: 0;
        position: fixed;
        background-color: hsla(247, 23%, 21%, 0.266)
    }
    .logo {
        display: none;
    }
    .copyright {
        display: none;
    }
    .nav_links {
        display: flex;
        flex-direction: row;
        height: 50px;
        width: 70vw;
        justify-content: space-around;
        align-items: center;
    }
    .nav_link {
        height: 30px;
        width: 30px;
        flex-direction: row;
        justify-content: center;
        padding-left:0;
        gap: 0;
        color: black;
    }
    .link_name {
        display: none;
    }
}