.page {
    display: flex;
    flex-direction: row;

}


.main {
    z-index: 0;
    position: absolute;
    right: 0;
}

@media screen and (max-width: 990px) {
    .sidebar {
        z-index: 1;
        position: relative;
    }

    .page {
        flex-direction: column-reverse;
    }

    .main {
        z-index: 0;
        margin-left: 0;
        height: 100vh;
        position: unset;
        right: unset;
    }
}