.page {
    display: flex;
    flex-direction: row;
    overflow-x: hidden;
}



.main{
    z-index: 0;
    margin-left: 230px;
}

@media screen and (max-width: 990px) {
    .sidebar {
        z-index: 1;
        position: relative;
    }
    .page {
        flex-direction: column-reverse;
    }
    .main{
        z-index: 0;
        margin-left: 0;
        height: 100vh;
    }
}